header h1 {
    text-align: center;
    font-size: 40px;
    color: black;
}
header {
    padding:160px;
   background-image:url("images/Modi.jpeg");
   background-size:1080px ;
   background-origin: center;
}
nav{
  padding-left: 10px;
  margin:opx;
  background-color: chocolate;
  
}
a{
  font-size: 2.5em;
  text-decoration:none;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 2px skyblue
}

body{
  margin: 0px;
}

#A,#B,#C{
  padding-left:65px;
  text-shadow: 1px 1px 2px skyblue;
}

#D{
  background-color: cadetblue;
  margin-top:-26px;
  margin-bottom:-12px;
  font-size: 20px;
  position:block;
  
}

#E{
  background-color: wheat;
  margin:0px;
  margin-top:-30px;
  margin-bottom:-12px;
  
}

#F{
  background-color: #34421E;
  margin:0px;
  margin-top: -20px;
}



h1,p{
  text-align: center;
  padding:5px;
  }
p{
  padding: 10px;
}
footer {
    background-color: #333;
    overflow: hidden;
    margin-top: -37px;
}
footer a {
    text-decoration: none;
    padding:20px;
    text-align: center;
    float: left;
    color: white;
    font-size: 15px;
    
}
li>a{
  font-size: 25px;
}
#G{
  background-color: #5A7670;
  margin:0px;
  margin-top: -20.5px
  }
